.dark-color {
  background-color: #17153B;
}
.dark-purple-color {
  background-color: #2E236C;
}
.light-purple-color {
  background-color: #433D8B;
}
.pink-color {
  background-color: #C8ACD6;
}
.bright-red-color {
  background-color: #EB3678;
}